@import 'dashview';
@import 'modalmessaging';

.admin__container {
  font-size: 14px;
  font-weight: 200;
  font-family: Helvetica;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2em;

  .admin__header {
    border-bottom: 3px solid #dcdcdc;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .admin__header-title {
      font-weight: 200;
      font-size: 3em;
      letter-spacing: 2px;
      margin: 0.5em 0;
    }
  }

  .admin__body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .admin__login-form {
      display: flex;
      flex-direction: column;
      width: 100%;

      & > * {
        margin: 1em 0;
      }

      & > label {
        color: #cccccc;
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        font-weight: 500;
      }

      .login__form-input {
        border-radius: 5px;
        box-shadow: none;
        outline: none;
        border: 1px solid #ccc;
        line-height: 30px;
      }

      .login__btn {
        font-size: 1.5em;
        padding: 1em;
      }
    }
  }
}