.dashboard__container {
  font-size: 14px;
  font-weight: 200;
  font-family: Helvetica;
  color: #ffffff;
  position: fixed;
  z-index: 150;
  width: 100%;
  height: 100%;
  background: #A4DCD1;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: all 700ms ease;

  &.dashboard__container-visible {
    transform: translateY(0%);
  }

  .form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .blog__form {
      display: flex;
      width: 60%;
      flex-direction: column;

      & > * {
        margin: 1em 0;
      }

      & > label {
        color: #ffffff;
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        font-weight: 500;
      }

      .entry__form-input {
        border: 2px solid rgba(0, 0, 0, 0);
        outline: none;
        border-radius: 2px;
        padding: 5px;
        font-size: 1.5em;
        margin-top: 10px;

        &.invalid {
          border: 2px solid #F5785A;
        }

        &.valid {
          border: 2px solid #7BBF6A;
        }

        &.focused {
          border: 2px solid #62B1F6;
        }
      }

      .entry__form-textarea {
        border: 2px solid rgba(0, 0, 0, 0);
        outline: none;
        border-radius: 2px;
        padding: 5px;
        font-size: 1em;
        margin-top: 10px;

        &.invalid {
          border: 2px solid #F5785A;
        }

        &.valid {
          border: 2px solid #7BBF6A;
        }

        &.focused {
          border: 2px solid #62B1F6;
        }
      }
    }
  }
}