$break-mobile: 760px;

.entry__container {
  font-size: 14px;
  font-weight: 200;
  font-family: Helvetica;
  color: #ffffff;
  position: fixed;
  z-index: 150;
  width: 100%;
  min-height: 100vh;
  background: #3c6478;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: all 700ms ease;


  &.entry__container-visible {
    transform: translateX(0%);
  }

  .close__btn {
    font-size: 3em;
    position: fixed;
    top: .5em;
    left: .5em;
    opacity: 0;
    transition: all 250ms ease;
    cursor: pointer;
    z-index: 1;

    @media screen and (max-width: $break-mobile) {
      font-size: 2em;
      top: 0.25em;
      left: 0.25em;
    }

    &.close__btn-visible {
      opacity: 1;
    }
  }

  .entry__display {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 2em;
    opacity: 0;
    transition: all 1s ease;

    @media screen and (max-width: $break-mobile) {
      max-width: none;
      width: auto;
    }

    &.entry__display-visible {
      opacity: 1;
    }

    .entry__display-title {
      font-weight: 200;
      font-size: 3em;
      letter-spacing: 2px;
      margin: 0.5em 0;

      @media screen and (max-width: $break-mobile) {
        font-size: 2em;
      }
    }
  }
}