// sass goes here. Adhere to BEM conventions as best as possible.

.container {
  font-size: 14px;
  font-weight: 200;
  font-family: Helvetica;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2em;

  .app__header {
    border-bottom: 3px solid #dcdcdc;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .app__header-title {
      font-weight: 200;
      font-size: 3em;
      letter-spacing: 2px;
      margin: 0.5em 0;
    }

    .app__header-text {
      margin: 0.5em 0;
    }
  }

  .app__body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .app__body-entries-list {
      list-style: none;
      width: 100%;

      .blog__entry-list-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        margin: 1em 0;

        .blog__entry-list-item-title {
          font-weight: 100;
          font-size: 2.5em;
          letter-spacing: 2px;
          margin: 0.5em 0;
        }

        .blog__entry-list-item-date {
          letter-spacing: 2px;
          margin: 0.5em 0;
        }
      }
    }
  }
}