.modal__message-container {
  position: absolute;
  border-radius: 5px;
  width: 250px;
  top: 0;
  right: 10px;
  padding: 5px;
  color: white;
  opacity: 0;
  transition: all 1s ease;

  &.visible {
    opacity: 1;
  }

  &.transition__out {
    transform: translateX(300px);
  }

  &.general {
    background-color: #B9D3EE;
    border: 1px solid #739AC5;
  }

  &.valid {
    background-color: #C5E3BF;
    border: 1px solid #A6D785;
  }

  &.warning {
    background-color: #FFC1C1;
    border: 1px solid #EE6363;
  }
}