<main class="container">
  <!-- Begin Application here -->
  <header class="app__header">
    <h1 class="app__header-title">Thoughts and Stories</h1>
    <p class="app__header-text">A blog by Micah Chiang</p>
  </header>
  <section id="entriesContainer" class="app__body">
    <ul id="entriesList" class="app__body-entries-list">
    </ul>
  </section>
</main>
<main id="entryContainer" class="entry__container">
  <i id="entryCloseBtn" class="material-icons close__btn">highlight_off</i>
  <section id="entryDisplay" class="entry__display"></section>
</main>
